<h1>Student Entry Edit</h1>
<% if flash[:notice] %>
<div class="notice"><%= flash[:notice] %></div>
<% end %>
<br>
<%= form_for :entry, url: entry_path(@entry), method: :patch do |f| %>
<% if @entry.errors.any? %>
<div id="error_explanation">
  <h3><%= pluralize(@entry.errors.count, "error") %> found. Please fix before attempting to resubmit.</h3>
  <ul>
    <% @entry.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>
  <p>
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </p>
 
  <p>
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </p>

  <p>
    <%= f.label :email_address %><br>
    <%= f.text_field :email_address %>
  </p>

 
  <p>
    <%= f.submit %>
  </p>
<% end %>
<%= link_to 'Back', entries_path %>